/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600;700&display=swap');

$font-family: 'Jost', sans-serif;
$theme-color: #00bcd4;
$theme-color-80: hsl(187, 100%, 37%);
$text-dark: #11204d;
$text-light: rgba(17, 32, 77, 0.7);
$box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
$md_screen: 992px;

html {
    font-family: $font-family;
    scroll-behavior: smooth;
    overflow-x: hidden;

    body {
        margin: 0;
        padding: 0;
        color: $text-dark;
    }
}

/* Anchor Tag */

a {
    color: inherit;
    text-decoration: none;
}

/* Menu */

.menu {
    padding: 0;
    margin: 0;
    list-style: none;
}

.menu.horizontal {
    display: flex;
    align-items: center;
}

/* Btn */

.btn {
    background-color: $theme-color;
    color: #fff;
    padding: 12px 36px;
    display: inline-block;
    font-weight: 500;
    font-family: $font-family;
    border-radius: 50px;
    transition: .35s;
    outline: none;
    cursor: pointer;
    font-size: 18px;
}

button.btn {
    border: none;
    outline: none;
}

.btn:hover {
    background-color: $theme-color-80;
}

/* Form Elements */

.form-group {
    width: 100%;
}

.form-control {
    width: 100%;
    border: 1px solid #dcdcdc;
    border-radius: 10px;
    padding: 10px 15px;
    font-family: $font-family;
    font-size: 18px;
}

/* Progress Bar */

.progress {
    background-color: #dcdcdc;
    height: 12px;
    border-radius: 50px;
    position: relative;
    margin-top: 35px;
    margin-bottom: 60px;
}

.progress-bar {
    background-color: $theme-color;
    height: 12px;
    border-radius: 50px;
    transition: .35s;
}

.progress-label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: -30px;
    color: $text-dark;
    font-weight: 400;
    width: 100%;
    font-size: 16px;
}

/* Card */ 

.card {
    padding: 25px;
    box-shadow: $box-shadow;
    border-radius: 5px;
    background-color: #fff;
}

/* Title */

.title-wrapper {
    span.subtitle {
        color: $theme-color;
        font-weight: 500;
        font-size: 16px;
        margin-bottom: 5px;
        display: block;
        text-transform: uppercase;
        letter-spacing: 1px;
    }
    h3.title {
        margin-top: 0;
        margin-bottom: 20px;
        color: $text-dark;
        font-size: 30px;
        line-height: 40px;
    }
    p.content {
        font-size: 18px;
        margin-top: 0;
        margin-bottom: 30px;
        color: $text-light;
        line-height: 30px;
    }
}

// all col-[*]
[class*="col-"] {
    padding-left: 60px !important;
    padding-right: 60px !important;
}

/* Header */

#site-header {
    background-color: #fff;
    padding: 20px 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999999;
    box-shadow: $box-shadow;

    .logo {
        a {
            img {
                object-fit: cover;
                max-height: 40px;
                width: 100%;
            }
        }
        @media (max-width: $md_screen) {
            display: flex;
            justify-content: center;
        }
    }

    .menu {
        justify-content: flex-end;
        li {
            a {
                display: block;
                padding-left: 15px;
                padding-right: 15px;
                height: 46px;
                line-height: 46px;
                font-weight: 500;
                font-size: 18px;
            }
        }

        @media screen and (max-width: $md_screen) {
            display: none;
        }

    }
}

#primary {
    padding-top: 100px;

    #home {
        height: calc(100vh - 100px);
        display: flex;
        align-items: center;

        .hero-title-wrapper {
            padding-right: 75px;
            h1.hero-title {
                font-size: 68px;
                font-weight: 300;
                color: $text-dark;
                margin-bottom: 0;
    
                strong {
                    font-weight: 500;
                }
            }
    
            p.hero-content {
                font-size: 20px;
                line-height: 36px;
                font-weight: 400;
                color: $text-light;
                margin-bottom: 0;
                @media (max-width: $md_screen) {
                    margin-bottom: 40px;
                }
            }
        }

        .hero-image {
            img {
                object-fit: cover;
                width: 100%;
                height: 100%;
            }
        }
    }

    #about {
        padding: 100px 0;
        
        .about-image {
            img {
                max-height: 500px;
                object-fit: cover;
                border-radius: 10px;
                display: block;
            }
            @media (max-width: $md_screen) {
                margin-bottom: 40px;
            }
        }
    }
    
    #services {
        padding: 100px 0;
        background-color: #fafafa;

        .services-icons {
            .icon-box-wrapper {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-evenly;
                align-items: center;
                align-content: center;

                .card:nth-child(2n-1) {
                    margin-top: 50px;
                }

                .card {
                    padding-top: 40px;
                    padding-bottom: 40px;
                    width: 25%;
                    text-align: center;
                    @media (max-width: $md_screen) {
                        width: 35%;
                    }
                    @media (max-width: 520px) {
                        width: 50%;
                        margin-top: 25px !important;
                    }
                    .card-icon i {
                        font-size: 40px;
                        margin-bottom: 15px;
                        color: $theme-color;
                    }
                    .card-title {
                        font-weight: 500;
                        font-size: 20px;
                    }
                }
            }
        }

    }

    #portfolio {
        padding: 100px 0;
        .title-wrapper {
            text-align: center;
        }

        .portfolio {
            .portfolio-item {
                width: 100%;
                height: 300px;
                border-radius: 10px;
                background-position: center center;
                background-repeat: no-repeat;
                background-size: cover;
                position: relative;
                margin-bottom: 50px;
                overflow: hidden;

            &:hover {
                .portfolio-inner {
                    opacity: 1;
                }
            }


                .portfolio-inner {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-color: rgba(0, 0, 0, 0.5);
                    z-index: 9999;
                    border-radius: 10px;
                    opacity: 0;
                    transition: background .5s ease-in-out, opacity .25s ease-in;

                    .portfolio-title {
                        height: 100%;
                        display: flex;
                        align-content: flex-end;
                        flex-wrap: wrap;
                        padding-left: 25px;
                        h4.title {
                            color: #fff;
                            font-size: 20px;
                            position: relative;
                            display: block;
                            width: 100%;
                            margin-top: 0;
                            margin-bottom: 5px;
                        }
                        span.category {
                            color: #fff;
                            opacity: 0.7;
                            display: block;
                            width: 100%;
                            margin-bottom: 25px;
                        }
                    }
                }

            }
        }
    }

    #contact {
        padding: 100px 0;
        .icon-list {
            .icon-list-item {
                display: flex;
                .icon {
                    width: 75px;
                    height: 75px;
                    font-size: 28px;
                    border-radius: 50%;
                    color: $theme-color;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    box-shadow: $box-shadow;
                    margin-right: 25px;
                }
                .text {
                    margin: auto 0;
                    font-size: 18px;
                    strong {
                        display: block;
                        color: $text-dark;
                    }
                    span {
                        display: block;
                        color: $text-light;
                    }
                }
            }
        }
        .form-and-map {

            .form {
                margin: auto 0;
                @media (max-width: $md_screen) {
                    margin-bottom: 45px !important;
                }
            }

            .map {
                .mapouter {
                    .gmap_canvas {
                        border-radius: 30px;
                        box-shadow: $box-shadow;
                    }
                }
            }
        }
    }

}

#site-footer {
    padding: 40px 0;
    background-color: $theme-color;
    color: #fff;

    .menu {
        justify-content: flex-end;
        li {
            a {
                display: block;
                padding-left: 15px;
                padding-right: 15px;
                line-height: 55px;
            }
        }
    }
}

